
.body{
    height: 0px;
    width: 0px;
}
h1{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #604fe077;
    color: rgb(255, 255, 255);
    border: 2px solid black;
}
.p{
    padding: 10px;
    background-color: rgb(30, 0, 255);
    color:rgb(0, 81, 255);
    
}